header {
  padding: 10px 30px;
  background: #FFFFFF;
}

header h1 {
  margin: 0;
}

@media (max-width: 768px) {
  header {
    padding: 10px 20px;
  }
}

@media (max-width: 576px) {
  header {
    padding: 10px 10px;
  }
}

@media (max-width: 325px) {
  header {
    padding: 10px 5px;
  }
}

