* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  background: #f2f2f2;
}

header {
  padding: 10px 30px;
  background: #FFFFFF;
}

header h1 {
  margin: 0;
}

hr {
  border: 1px solid #b1b1b1;
  margin: 0;
}

main {
  padding: 30px;
}

/* Classes applied to all buttons */
.custom-button {
  padding: 9px 15px;
  border: none;
  border-radius: 3px;
  background: #58adb8;
  color: #FFFFFF;
  font-weight: 700;
  opacity: 1;
}

.custom-button:hover {
  cursor: pointer;
  opacity: 0.8;
  color: #000000;
}
/*---*/


#action-bar {
  display: flex;
  justify-content: right;
  gap: 10px;
}

#search-box {
  width: 25%;
  padding: 9px;
  border: 2px solid #b1b1b1;
  border-radius: 3px;
}

#add-button {
  padding: 10px 15px 8px 30px;
}

#add-button:hover #add-icon svg path {
  fill: #000000 !important;
}

#add-icon {
  position: relative;
}

#add-icon svg {
  position: absolute;
  left: -20px;
  top: -0.5px;
}


table,
tr > * {
  border: 2px solid #b1b1b1;
  padding: 8px;
}

th {
  text-align: left;
  background: #d8d8838a;
}

table {
  margin-top: 10px;
  border-collapse: collapse;
  width: 100%;
  background: #FFFFFF;
}

table .name {
  width: 45%;
}

table .action {
  color: #ff0000;
  text-decoration: underline;
}

table .action:hover {
  text-decoration: none;
  cursor: pointer;
}

#notification {
  display: none;
  margin: 0;
  padding: 20px 0;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  background: #e7e6e6;
  color: #f40808;
}

dialog {
  width: 400px;
  text-align: center;
  border-color: #b1b1b1;
}

.dialog-title {
  margin: 0;
}

.dialog-content {
  padding: 20px 40px;
}

.confirm-button {
  background: #D54747;
}

.input-box {
  text-align: left;
  padding: 10px;
}

.input-box label {
  display: block;
  font-size: 14px;
  font-weight: 700;
}

.input-box input {
  width: 100%;
  display: block;
  padding: 8px;
  border: 2px solid #b1b1b1;
  border-radius: 3px;
}

#add-box .dialog-title {
  margin-bottom: 20px;
  padding: 10px;
  text-align: left;
}

#add-box .button-group {
  margin: 20px;
  text-align: right;
}


@media (max-width: 768px) {
  dialog {
    width: 350px;
  }
  header {
    padding: 10px 20px;
  }
  main {
    padding: 30px 20px;
  }
  #search-box {
    width: 40%;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 14px;
  }
  header {
    padding: 10px 10px;
  }
  main {
    padding: 30px 10px;
  }
  #search-box {
    width: 75%;
  }
  #add-button {
    width: 25%;
    padding: 6px;
  }
  #add-icon {
    display: none;
  }
  dialog {
    width: 300px;
  }
  #add-box .dialog-title {
    margin: 0;
  }
  #add-box .button-group {
    margin-top: 5px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 325px) {
  html {
    font-size: 12px;
  }
  header {
    padding: 10px 5px;
  }
  main {
    padding: 30px 5px;
  }
  table .name {
    width: 25%;
  }
  dialog {
    padding: 5px;
  }
}

@media (max-width: 300px) {
  html {
    font-size: 10px;
  }
  td {
    overflow-wrap: anywhere;
  }
}
